In [1]:
import pandas as pd
import seaborn as sn

df=pd.read_csv(r"retail.csv")
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [2]:
# Splitting the data into two parts 
# First-- with  rows having Null values
#Second --- with rows having complete values

In [2]:
#df=df.reset_index()
notnull=df.dropna()
#print(notnull)
withnull=df[df.isnull().any(axis=1)]
target=notnull.Outlet_Size
inputs=notnull.loc[:, ['Outlet_Location_Type', 'Outlet_Type','Item_Outlet_Sales']]
#print(inputs)
pred_input=withnull.loc[:, ['Outlet_Location_Type', 'Outlet_Type','Item_Outlet_Sales']]
print(pred_input)
pred_target=withnull.Outlet_Size

     Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
3                  Tier 3      Grocery Store           732.3800
8                  Tier 2  Supermarket Type1          1076.5986
9                  Tier 2  Supermarket Type1          4710.5350
25                 Tier 2  Supermarket Type1           838.9080
28                 Tier 3      Grocery Store           178.4344
...                   ...                ...                ...
8502               Tier 2  Supermarket Type1          3020.0688
8508               Tier 2  Supermarket Type1          2587.9646
8509               Tier 3      Grocery Store           424.7804
8514               Tier 2  Supermarket Type1           468.7232
8519               Tier 2  Supermarket Type1           549.2850

[2410 rows x 3 columns]

In [3]:
# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
inputs['Outlet_Location_Type']= label_encoder.fit_transform(inputs['Outlet_Location_Type'])
inputs['Outlet_Type']= label_encoder.fit_transform(inputs['Outlet_Type'])
pred_input['Outlet_Location_Type']= label_encoder.fit_transform(pred_input['Outlet_Location_Type'])
pred_input['Outlet_Type']= label_encoder.fit_transform(pred_input['Outlet_Type'])

In [4]:
inputs['Outlet_Location_Type'].unique()
inputs['Outlet_Type'].unique()
pred_input['Outlet_Location_Type'].unique()
pred_input['Outlet_Type'].unique()

array([0, 1])

In [5]:
print(inputs)
print(pred_input)

      Outlet_Location_Type  Outlet_Type  Item_Outlet_Sales
0                        0            1          3735.1380
1                        2            2           443.4228
2                        0            1          2097.2700
4                        2            1           994.7052
5                        2            2           556.6088
...                    ...          ...                ...
8517                     0            1          3608.6360
8518                     2            1          2778.3834
8520                     1            1          1193.1136
8521                     2            2          1845.5976
8522                     0            1           765.6700

[6113 rows x 3 columns]
      Outlet_Location_Type  Outlet_Type  Item_Outlet_Sales
3                        1            0           732.3800
8                        0            1          1076.5986
9                        0            1          4710.5350
25                       0            1           838.9080
28                       1            0           178.4344
...                    ...          ...                ...
8502                     0            1          3020.0688
8508                     0            1          2587.9646
8509                     1            0           424.7804
8514                     0            1           468.7232
8519                     0            1           549.2850

[2410 rows x 3 columns]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [7]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [8]:
model.score(x_test,y_test)

0.8405560098119379

In [18]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Assuming you have trained your Naive Bayes classifier and obtained predictions on the test dataset
# X_test: features of the test dataset
# y_test: actual class labels of the test dataset
# y_pred: predicted class labels by the Naive Bayes classifier

# Create an instance of the Naive Bayes classifier
naive_bayes = GaussianNB()

# Fit the classifier to your training data
naive_bayes.fit(x_train, y_train)

# Make predictions on the test data
y_pred = naive_bayes.predict(x_test)

# Calculate the accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8405560098119379

In [9]:
x_test[:10]

      Outlet_Location_Type  Outlet_Type  Item_Outlet_Sales
6470                     2            1          4152.5946
6676                     2            3          1597.9200
7229                     2            3          3858.9768
7294                     1            1          1930.8200
626                      2            2          1695.7926
6693                     0            1          1957.4520
5851                     2            2          1265.0200
6357                     2            2           745.6960
1195                     0            1          1166.4816
3076                     0            0           187.7556

In [10]:
y_test[:10]

6470      High
6676    Medium
7229    Medium
7294     Small
626     Medium
6693    Medium
5851    Medium
6357    Medium
1195    Medium
3076     Small
Name: Outlet_Size, dtype: object

In [19]:
pred_input.head()

    Outlet_Location_Type  Outlet_Type  Item_Outlet_Sales
3                      1            0           732.3800
8                      0            1          1076.5986
9                      0            1          4710.5350
25                     0            1           838.9080
28                     1            0           178.4344

In [20]:
model.predict(pred_input[1:3])

array(['Small', 'Small'], dtype='<U6')